<div class="container">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>{{ "sign-up.sign-up" | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="formSubmit()">
        <mat-form-field appearance="fill">
          <mat-label translate>sign-up.email</mat-label>
          <input
            type="email"
            formControlName="email"
            matInput
            placeholder="Ingresa el correo"
          />
          <mat-error
            *ngIf="emailInput?.errors && emailInput?.hasError('required')"
          >
            {{ "ERRORS.REQUIRED" | translate }}
          </mat-error>
          <mat-error
            *ngIf="emailInput?.errors && emailInput?.hasError('pattern')"
          >
            {{ "ERRORS.EMAIL" | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label translate>sign-up.phone</mat-label>
          <input
            type="tel"
            formControlName="phone"
            matInput
            placeholder="Ingresa el celular"
          />
          <mat-error
            *ngIf="phoneInput?.errors && phoneInput?.hasError('required')"
          >
            {{ "ERRORS.REQUIRED" | translate }}
          </mat-error>
          <mat-error
            *ngIf="phoneInput?.errors && phoneInput?.hasError('maxlength10')"
          >
            {{ "ERRORS.LENGTHPHONE" | translate }}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label translate>sign-up.password</mat-label>
          <input
            type="password"
            formControlName="password"
            matInput
            placeholder="********"
          />
          <mat-error
            *ngIf="passwordInput?.errors && passwordInput?.hasError('required')"
          >
            {{ "ERRORS.REQUIRED" | translate }}
          </mat-error>
          <mat-error
            *ngIf="
              passwordInput?.errors && passwordInput?.hasError('minlength')
            "
          >
            {{ "ERRORS.MINLENGTHPASSWORD" | translate }}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label translate>sign-up.confirmPassword</mat-label>
          <input
            type="password"
            formControlName="confirmPassword"
            matInput
            placeholder="*******"
          />
          <mat-error
            *ngIf="
              confirmPasswordInput?.errors &&
              confirmPasswordInput?.hasError('required')
            "
          >
            {{ "ERRORS.REQUIRED" | translate }}
          </mat-error>
          <mat-error
            *ngIf="
              confirmPasswordInput?.errors &&
              confirmPasswordInput?.hasError('minlength')
            "
          >
            {{ "ERRORS.MINLENGTHPASSWORD" | translate }}
          </mat-error>
          <mat-error
            *ngIf="
              confirmPasswordInput?.errors &&
              confirmPasswordInput?.hasError('passwordMismatch')
            "
          >
            {{ "ERRORS.CONFIRMPASSWORD" | translate }}
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" [disabled]="form.invalid">
          {{ "sign-up.create" | translate }}
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
