mat-toolbar {
  width: 95%;
  margin: auto;
}

span {
  padding-right: 5px;
}
select {
  width: 50px;
  height: 35px;
  padding: 3px;
  background-color: bisque;
}

select:hover {
  width: 60px;
  height: 40px;
}
