<div class="container">
  <mat-toolbar color="basic">
    <span> Bienvenido al sistema CX </span>
    <button mat-raised-button color="primary" (click)="routingAcount()">
      Ir a Acount
    </button>
    <button mat-raised-button color="accent" (click)="routingInvioce()">
      Ir a Invioice
    </button>
  </mat-toolbar>

  <h3>Ha ingresado al sistema de gestion Celerix</h3>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam illum aut
    accusamus sunt vel explicabo itaque nisi ad? Nihil et culpa similique dicta
    quam in consectetur labore reiciendis illum possimus.
  </p>
</div>
