.container {
  width: 95%;
  margin: auto;
}

span {
  margin: auto;
}

button {
  margin: 2px;
}

select {
  width: 50px;
  height: 35px;
  padding: 3px;
  background-color: bisque;
}

select:hover {
  width: 60px;
  height: 40px;
}
