<div class="container">
  <mat-toolbar color="primary">
    <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      *ngIf="isHandset$ | async"
    >
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span> Bienvenido al sistema CX </span>
  </mat-toolbar>

  <h3>Ha ingresado al sistema de gestion Celerix</h3>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam illum aut
    accusamus sunt vel explicabo itaque nisi ad? Nihil et culpa similique dicta
    quam in consectetur labore reiciendis illum possimus.
  </p>
</div>
