<div class="container">
  <mat-toolbar color="basic">
    <!-- <span> {{ "titleHome" | translate }} </span> -->
    <span translate>titleHome</span>
    <button mat-raised-button color="primary" (click)="routingAcount()">
      Ir a Acount
    </button>
    <button mat-raised-button color="accent" (click)="routingInvioce()">
      Ir a Invioice
    </button>
    <!-- <mat-form-field appearance="fill">
      <mat-label>Languaje</mat-label>
      <mat-select #select name="" (valueChange)="switchLang(select.value)">
        <mat-option
          *ngFor="let languaje of translate.getLangs()"
          [value]="languaje"
        >
          {{ languaje }}
        </mat-option>
      </mat-select>
    </mat-form-field> -->

    <select name="" #SelectLanguaje (change)="switchLang(SelectLanguaje.value)">
      <option
        *ngFor="let languaje of translate.getLangs()"
        value="{{ languaje }}"
      >
        {{ languaje }}
      </option>
    </select>
  </mat-toolbar>

  <!-- <h3>{{ "subtitleHome" | translate }}</h3> -->
  <h3 [innerHTML]="'subtitleHome' | translate"></h3>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam illum aut
    accusamus sunt vel explicabo itaque nisi ad? Nihil et culpa similique dicta
    quam in consectetur labore reiciendis illum possimus.
  </p>
</div>
